

<app-sidebar></app-sidebar>
    <div id="wrapper">

      

        <!-- main contents -->
        <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">

            <div class="main__inner">
  

           <!-- home.component.html -->
<div class="max-w-screen-md mx-auto">
  <form [formGroup]="addPostForm" (ngSubmit)="newPost()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="content">
        Post Content
      </label>
      <textarea formControlName="content" id="content" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      <!-- Add error messages or validation feedback here if needed -->
    </div>
    
    <!-- File input for image -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
        Post Image
      </label>
      <input type="file" (change)="onSelectPostImage($event)" id="image" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <!-- Add error messages or validation feedback here if needed -->
    </div>

    <!-- Display selected images -->
    <div *ngFor="let file of files" class="mb-2">
      {{ file.name }} 
      <button type="button" class="text-red-500 hover:text-red-700" (click)="onRemovePostImage(file)">Remove</button>
    </div>

    <div class="flex items-center justify-between">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Share Post
      </button>
    </div>
  </form>
</div>

            </div> 

        </main>
        
    </div>

 



 
    
   

 



