<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>WELCOME TO TALKY <%=Name%></th>
        </tr>
        <tr>
            <td>
                <p>
                    Hi <%=Name%>,
                </p>
            
                <p>
                    <img src="https://i5.walmartimages.com/asr/d2f16de6-81c2-4f8a-abdb-9c178bab3c38_1.d490b027bd3d7862da0b922a4deb7824.jpeg" alt="">
                </p>
                <p>
                    Thank you for signing up. <br> We really appreciate you for your readiness to be part of us. We really value your privacy, dont share your password with anyone. <br>Welcome to our site. Sign in to enjoy the greatness of our services<br>
                    <p>Thank you</p>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>