

<app-sidebar></app-sidebar>
    <div id="wrapper">

      

        <!-- main contents -->
        <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">

            <div class="main__inner">
  

                <div class="flex max-lg:flex-col xl:gap-10 md:gap-3 md:mt-10" id="js-oversized">
 
                   
                    <!-- feed story -->
                    <div class="md:max-w-[510px] mx-auto flex-1 xl:space-y-6 space-y-3">
 

                        <app-post-create></app-post-create>

                        
                        



                        <!-- post text-->
                        <div *ngFor="let post of posts" class="bg-white rounded-xl shadow-sm text-sm font-medium border1 dark:bg-dark2">

                            <!-- post heading -->
                            <div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">
                                <a href="profile.html"> <img src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="" class="w-9 h-9 rounded-full"> </a> 
                                <div class="flex-1">
                                    <a href="profile.html"> <h4 class="text-black dark:text-white"> John Michael </h4> </a> 
                                    <div class="text-xs text-gray-500 dark:text-white/80"></div>
                                </div>
                            </div>
                             
                           <div class="sm:px-4 p-2.5 pt-0">
                                <p class="font-normal"> {{ post.Content }} </p>
                                <p><img [src]= "post.ImageUrl" ></p>
                            </div>
                             
                             

                            <!-- post icons -->
                            <div class="sm:p-4 p-2.5 flex items-center gap-4 text-xs font-semibold">
                                <div class="flex items-center gap-2.5">
                                    <button type="button" class="button__ico text-red-500 bg-red-100 dark:bg-slate-700"> 
                                        <!-- <ion-icon class="text-lg" name="heart"></ion-icon>  -->
                                        <i class="fa-solid fa-heart text-lg"></i>
                                    </button>
                                    <a href="#"></a>
                                </div>
                                <div class="flex items-center gap-3">
                                    <button type="button" class="button__ico bg-slate-200/70 dark:bg-slate-700"> 
                                        <!-- <ion-icon class="text-lg" name="chatbubble-ellipses"></ion-icon> -->
                                         <a routerLink="/comment"><i class="fa-solid fa-comment text-lg"></i> </a>
                                     </button>
                                    <span></span>
                                </div>
                                <button type="button" class="button__ico ml-auto">
                                     <!-- <ion-icon class="text-xl" name="paper-plane-outline"></ion-icon> -->
                                     <i class="fa-solid fa-paper-plane text-xl"></i>
                                     </button>
                                <button type="button" class="button__ico"> 
                                    <!-- <ion-icon class="text-xl" name="share-outline"></ion-icon>  -->
                                    <i class="fa-solid fa-share text-xl"></i>
                                </button>
                            </div>

  
                            <!-- add comment -->
                             <app-comment-create></app-comment-create>
                        </div>


                        <!-- placeholder -->
                        <div class="rounded-xl shadow-sm p-4 space-y-4 bg-slate-200/40 animate-pulse border1 dark:bg-dark2">

                            <div class="flex gap-3">
                                <div class="w-9 h-9 rounded-full bg-slate-300/20"></div>
                                <div class="flex-1 space-y-3">
                                    <div class="w-40 h-5 rounded-md bg-slate-300/20"></div>
                                    <div class="w-24 h-4 rounded-md bg-slate-300/20"></div>
                                </div>
                                <div class="w-6 h-6 rounded-full bg-slate-300/20"></div>
                            </div>

                            <div class="w-full h-52 rounded-lg bg-slate-300/10 my-3"> </div>

                            <div class="flex gap-3">

                                <div class="w-16 h-5 rounded-md bg-slate-300/20"></div>

                                <div class="w-14 h-5 rounded-md bg-slate-300/20"></div>

                                <div class="w-6 h-6 rounded-full bg-slate-300/20 ml-auto"></div>
                                <div class="w-6 h-6 rounded-full bg-slate-300/20  "></div>
                            </div>

                        </div>
                       

                    </div> 
                    


                    <!-- right sidebar -->
                    <div class="lg:max-w-[370px] md:max-w-[510px] mx-auto ">

                        <div class="xl:space-y-6 space-y-3 md:pb-12"  uk-sticky="end: #js-oversized; offset: 50; media:992">

                            <!-- peaple you might know -->
                            <div class="bg-white rounded-xl shadow-sm p-5 px-6 border1 dark:bg-dark2">
                                
                                <div class="flex justify-between text-black dark:text-white">
                                    <h3 class="font-bold text-base"> People You might know </h3>
                                    <button type="button"> 
                                        <!-- <ion-icon name="sync-outline" class="text-xl"></ion-icon> -->
                                     </button>
                                </div>
    
                                <div class="space-y-4 capitalize text-xs font-normal mt-5 mb-2 text-gray-500 dark:text-white/80">
    
       <div *ngFor="let user of users" class="flex items-center gap-3 user-card bg-white p-4 rounded shadow mb-4">
      <a [routerLink]="['/profile', user.UserId]">
        <img [src]="user.ProfileImageUrl || 'https://placekitten.com/100/100'" alt="{{ user.Username }}" class="bg-gray-200 rounded-full w-10 h-10">
      </a>
      <div class="flex-1">
        <a [routerLink]="['/profile', user.UserId]"><h4 class="font-semibold text-sm text-black dark:text-white">{{ user.Username }}</h4></a>
        <div class="mt-0.5">Suggested For You</div>
      </div>
      <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery">Follow</button>
                                </div>
    
                            </div>
    

                            
                            <!-- online friends -->


                            <!-- Pro Members -->


                            <!-- Trends -->

                        </div>

                    </div>  


                </div> 

            </div> 

        
        
    </div>

 



 
    
   

 



