<app-sidebar></app-sidebar>

    <div class="summary flex ml-[10vw] text-base mt-5 " >
        <div class="w-[50vw] summarycontainer flex flex-col text-black" >
           
            <div class="searchInput flex justify-end">
    
                <input type="search" id="" class="rounded-[10px] p-[10px]" placeholder="search user" [(ngModel)]="searchText">
            </div>
           
        </div>
    </div>


 <!-- main contents -->
 <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]" >
<div class="main__inner">


<div  class="bg-white rounded-xl shadow-sm p-5 px-6 border1 dark:bg-dark2" >
           
   

    <div class="space-y-4 capitalize text-xs font-normal mt-5 mb-2 text-gray-500 dark:text-white/80">
        <!-- <div *ngFor="let user of allusers"></div> -->
        <div *ngFor="let user of users | search:searchText  "  class="flex items-center gap-3 user-card bg-white p-4 rounded shadow mb-4">
      
        <img  [src]="user.profilePictureUrl || 'https://placekitten.com/100/100'" alt="{{ user.Username }}" class="bg-gray-200 rounded-full w-10 h-10">
       
      <div class="flex-1">
        <a [routerLink]="['/profile']"><h4 class="font-semibold text-sm text-black dark:text-white">{{ user.Username }}</h4></a>
        <div class="mt-0.5">Suggested For You</div>
      </div>
      <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery">Follow</button>
    </div>
    </div>

</div>

</div>
</main>

