<div class="relative mx-auto w-full max-w-md bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-xl sm:px-10">
    <div class="w-full">
        <div class="text-center">
            <div *ngIf="success" class="flex justify-center p-4 bg-green-200 text-green-500 rounded mb-2">{{successMessage}}</div>
            <h1 class="text-3xl font-semibold text-gray-900">Sign up</h1>
            <p class="mt-2 text-gray-500">Create an account to get started</p>
        </div>
        <div class="mt-5">
<!-- Your Angular registration form HTML -->

<form [formGroup]="registrationForm" (ngSubmit)="createUsers()">
  <div class="relative mt-6">
    <input type="text" formControlName="name" id="name" placeholder="Name" class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-dark focus:border-gray-500 focus:outline-none" data-cy="name" />
    <div *ngIf="error" class="flex justify-center p-4 bg-red-200 text-red-500 rounded mb-2" data-cy="name-error">{{errorMessage}}</div>
  </div>

  <div class="relative mt-6">
    <input type="email" formControlName="email" id="email" placeholder="Email Address" class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-dark focus:border-gray-500 focus:outline-none" data-cy="email" />
    <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="text-red-500" data-cy="email-error">Please enter a valid email address</div>
  </div>

  <div class="relative mt-6">
    <input type="password" formControlName="password" id="password" placeholder="Password" class="peer peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-dark focus:border-gray-500 focus:outline-none" data-cy="password" />
    <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="text-red-500" data-cy="password-error">Password must be at least 6 characters long</div>
  </div>

  <div class="my-6">
    <button type="submit" class="w-full rounded-md bg-black px-3 py-4 text-white focus:bg-gray-600 focus:outline-none" data-cy="submit">Sign up</button>
  </div>
</form>

        </div>
    </div>
</div>
